$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  @media only screen and (max-width: $bp-large) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 43.75%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #525d68;
}

.container-lg {
  max-width: 130rem;
  margin: 0 auto;
}

.main__container {
  max-width: 114rem;
  margin: 0 auto;
}
