.custom-shape-divider-top-1666986617 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #1b242f;
}

.custom-shape-divider-top-1666986617 svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 15rem;
}

.custom-shape-divider-top-1666986617 .shape-fill {
  fill: #f9f9f9;
}

.footer_svg_container {
  grid-column: full-start/full-end;
}
